<div class="row">
    <form class="col s12" onsubmit={{action 'place'}}>
        <div class="row">
            <div class="input-field col s2">
                {{input placeholder="614000" id="postal_code" type="number" class="validate" value=(mut postal_code)}}
                <label for="postal_code">Почтовый индекс</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                {{input placeholder="Пермский край" id="federal_sudject" type="text" class="validate" value=(mut federal_sudject)}}
                <label for="federal_sudject">Федеральный субъект</label>
            </div>
            <div class="input-field col s2">
                {{input placeholder="Пермь" id="city" type="text" class="validate" value=(mut city)}}
                <label for="city">Город или район</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                {{input placeholder="" id="street" type="text" class="validate" value=(mut street)}}
                <label for="street">Улица или населенный пункт</label>
            </div>
            <div class="input-field col s2">
                {{input placeholder="" id="house" type="number" class="validate" value=(mut house)}}
                <label for="house">Дом</label>
            </div>
            <div class="input-field col s2">
                {{input placeholder="" id="building" type="number" class="validate" value=(mut building)}}
                <label for="building">Корпус</label>
            </div>
            <div class="input-field col s2">
                {{input placeholder="" id="flat" type="number" class="validate" value=(mut flat)}}
                <label for="flat">Квартира</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{input placeholder="Адрес" id="address" type="text" class="validate" readonly=true value=(mut address)}}
                <label for="address">Адресная строка</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Получить адресную строку
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{{yield}}